.main {
    width: 75%;
    max-width: 975px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

.card {
    border-radius: var(--radius);
    border: 1px solid lightgray;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
}

#media-links {
    float: right;
}

a {
    color: gray;
    margin: 10px;
    text-decoration: none;
}

a:hover {
    color: hsl(var(--hue_0), var(--sat_0), var(--brt_0));
    text-decoration: none;
}

.activeLink {
    color: hsl(var(--hue_0), var(--sat_0), var(--brt_0));
    text-decoration: underline;
}

button {
    color: hsl(var(--hue_0), var(--sat_0), var(--brt_0));
    border: solid 1px hsl(var(--hue_0), var(--sat_0), var(--brt_0));
    background: #f9f9f9;
    top: 48%;
    position: fixed;
    border-radius: var(--radius);
    width: 20px;
    height: 35px;
    font-weight: 700;
    text-align: center;
}

button:hover {
    color: #f9f9f9;
    background: hsl(var(--hue_0), var(--sat_0), var(--brt_0));
}

button:active {
    background: hsl(var(--hue_0), var(--sat_0), var(--brt_0));
}

.note {
    text-align: center;
    font-size: 10px;
    color: gray;
}

@media only screen and (max-width: 600px) {
    .main {
        width: 100%;
    }
    button {
        display: none;
    }
    .card {
        border-radius: 0;
    }
}