
.main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    resize:vertical;
}

p {
    margin-bottom: 10px;
    margin-top: 0;
}

a {
    border: solid 1px hsl(var(--hue_0), var(--sat_0), var(--brt_0));
    border-radius: var(--radius);
    color: hsl(var(--hue_0), var(--sat_0), var(--brt_0));
    background-color: white;
    margin: 0;
    text-decoration: none;
    padding: 3px;
}

a:hover {
    color: white;
    background-color: hsl(var(--hue_0), var(--sat_0), var(--brt_0));
    cursor: pointer;
}

a:active {
    background-color: hsl(var(--hue_0), var(--sat_0), var(--brt_0));
}
