
h1 {
    font-size: 20px;
    color: #222;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

h2 {
    font-size: 14px;
    color: #777;
    font-weight: 400;
    margin-top: 0;
}

p {
    font-size: 12px;
    color: #444;
    font-weight: 400;
}

.gallery {
    text-align: center;
}

img {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.gh-link {
    text-decoration: underline;
    font-size: 12px;
    color: gray;
    float: right;
}

.gh-link:hover {
    text-decoration-color: hsl(var(--hue_1), 100%, 50%);
}
