<div *ngIf="project === undefined">
    <p>Loading...</p>
</div>
<div *ngIf="project !== undefined">
    <h1>{{project.title}}</h1>
    <a class="gh-link" href="https://github.com/yassck02/{{project.title}}">Repository</a>

    <h2>{{project.subtitle}}</h2>
    <p *ngIf="project.description !== undefined">{{project.description}}</p>
    <div class="responsive" *ngFor="let image of project.images">
      <div class="gallery">
        <a href="https://raw.githubusercontent.com/yassck02/{{project.title}}/master/{{image}}">
          <img src="https://raw.githubusercontent.com/yassck02/{{project.title}}/master/{{image}}">
        </a>
      </div>
    </div>
</div>
