
hr {
    width: 1px;
    height: 100%;
    color: hsl(var(--hue), 100%, 50%);
}

ul {
    list-style-type: none;
}

ul li:before {
  content: "–";
  color: gray;
  position: absolute;
  margin-left: -1em;
}

.experience-main {

}
