
:root {
    --radius: 4px;

    --hue_0: 200;
    --sat_0: 30%;
    --brt_0: 50%;

    --hue_1: 200;
    --sat_1: 30%;
    --brt_1: 35%;
}

::selection {
  background: hsla(var(--hue_1), var(--sat_0), var(--brt_0), 0.20)
}

html {
    overflow-y: scroll;
}

body {
    padding: 0;
    font: 12px Arial, sans-serif;
    background-color: #f9f9f9;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Calibre, " Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

.code {
    font-family: "Courier New", Courier, monospace;
}

.gradient-background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9400+0,ff006a+100 */
    background: white; /* Old browsers */
    background: -moz-linear-gradient(-45deg,    hsl(var(--hue_0),var(--sat_0),var(--brt_0)) 0%, hsl(var(--hue_1),var(--sat_1),var(--brt_1)) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, hsl(var(--hue_0),var(--sat_0),var(--brt_0)) 0%, hsl(var(--hue_1),var(--sat_1),var(--brt_1)) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,         hsl(var(--hue_0),var(--sat_0),var(--brt_0)) 0%, hsl(var(--hue_1),var(--sat_1),var(--brt_1)) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.clip-text {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
