
<form>
    <div class="group">
        <input
          type="text"
          name="name"
          class="input"
          placeholder="Name"
          [(ngModel)]="name"
          required
          minlength="3"
          #nameInput="ngModel">

        <input
          type="email"
          name="email"
          class="input"
          placeholder="Email"
          [(ngModel)]="email"
          required
          email
          #emailInput="ngModel">
     </div>

     <div class="group">
         <textarea
           class="textarea"
           name="message"
           placeholder="Message"
           [(ngModel)]="message"
           required
           #messageInput="ngModel"></textarea>
    </div>

    <button type="submit" (click)="processForm()">Submit</button>
</form>
