
<form method="post" action="mailto:yassck02@gmail.com?subject=subject&message=message">
    <input
      type="text"
      name="name"
      class="input"
      placeholder="Name"
      [(ngModel)]="name"
      required
      minlength="3"
      #nameInput="ngModel">

    <input
      type="email"
      name="email"
      class="input"
      placeholder="Email"
      [(ngModel)]="email"
      required
      email
      #emailInput="ngModel">

     <textarea
       class="input"
       name="message"
       placeholder="Message"
       [(ngModel)]="message"
       required
       #messageInput="ngModel"></textarea>

    <button type="submit" (click)="processForm()">Submit</button>
</form>


<form action="https://postmail.invotes.com/send"
    method="post" id="email_form">

    <input type="text" name="subject" placeholder="Subject" />
    <textarea name="text" placeholder="Message"></textarea>
    <!-- replace value with your access token -->
    <input type="hidden" name="access_token" value="{your access token}" />

    <input type="hidden" name="success_url"
      value=".?message=Email+Successfully+Sent%21&isError=0" />
    <input type="hidden" name="error_url"
      value=".?message=Email+could+not+be+sent.&isError=1" />

    <input id="submit_form" type="submit" value="Send" />
</form>
