
#title {
    width: 55%;
    border: 1px solid lightgray;
    background: white;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

#title * {
    height: 50%;
    margin: 0;
    padding: 3px 8px 3px 8px;
}

#intro {
    display: inline-block;
    float: left;
    height: 100%;
}

#intro * {
    height: 50%;
}

#condition {
    display: inline-block;
    float: right;
}

.grid div {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 8px;
}

h1 {
    font-size: 50px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: white;
}

h2 {
    font-size: 32px;
}

em {
    color: hsla(var(--hue_1), 100%, 50%);
    font-weight: 700;
}

ul {
    list-style-type: none;
}

img {
    margin-right: 5px;
}

li {
    margin-bottom: 3px;
    list-style-type: none;
}

ul li:before {
  content: "–";
  color: gray;
  position: absolute;
  margin-left: -1em;
}

h4 {
    margin-top: 3px;
    margin-bottom: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
}

.skills {
    grid-column-start: 1;
    grid-column-end: 2;
}

.languages {
    grid-column-start: 2;
    grid-column-end: 3;
}

.software {
    grid-column-start: 3;
    grid-column-end: 4;
}

.tools {
    grid-column-start: 1;
    grid-column-end: 2;
}

.framewrks {
    grid-column-start: 1;
    grid-column-end: 2;
}
