
<h2 class="gradient-background clip-text">Software Engineer</h2>
<h4>Still in beta: v0.9.1</h4>
<h4>Always learning</h4>

<img src="./assets/icons/hexagon.png" width="100px">

<div class="grid">
    <div class="skills">
        <h4>Skills</h4>
        <ul>
            <li><em>* </em>iOS Spplication developement</li>
            <li>Design patterns including </li>
        </ul>
    </div>

    <div class="languages">
        <h4>Languages</h4>
        <ul>
            <li><em>* </em>C++</li>
            <li><em>* </em>Swift</li>
            <li>TypeScript</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>C#</li>
        </ul>
    </div>

    <div class="software">
        <h4>Software</h4>
        <ul>
            <li>Adobe <em>* </em>Illustrator, Photoshop</li>
            <li>Autodesk <em>* </em>3Ds Max, Maya, Inventor</li>
            <li>Microsoft Word, Excel, Powerpoint</li>
            <li><em>* </em>Xcode. MacOS, iOS</li>
        </ul>
    </div>

    <div class="tools">
        <h4>Tools</h4>
        <ul>
            <li><em>* </em>GIT</li>
            <li>Node.js</li>
            <li>SAFe (Agile)</li>
        </ul>
    </div>

    <div class="frameworks">
        <h4>Frameworks</h4>
        <ul>
            <li><em>* </em>Angular</li>
            <li>Cocoa (UIKit)</li>
            <li>Multipeer Connectivity</li>
        </ul>
    </div>
</div>
