
#title {
    width: 55%;
    border: 1px solid lightgray;
    background: white;
    border-radius: var(--radius);
    margin-left: auto;
    margin-right: auto;
}

#title * {
    height: 50%;
    margin: 0;
    padding: 3px 8px 3px 8px;
}

#intro {
    display: inline-block;
    float: left;
    height: 100%;
}

#intro * {
    height: 50%;
}

#condition {
    display: inline-block;
    float: right;
}

.grid div {
    border: 1px solid lightgray;
    border-radius: var(--radius);
    padding: 8px;
    margin: 10px;
    max-width: 275px;
    min-width: 200px;
    width: 30%;
}

h1 {
    font-size: 50px;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    color: white;
}

h2 {
    font-size: 32px;
}

em {
    color: hsla(var(--hue_1), 100%, 50%);
    font-weight: 700;
}

ul {
    list-style-type: none;
}

img {
    margin-right: 5px;
}

li {
    margin-bottom: 3px;
    list-style-type: none;
}

ul li:before {
  content: "–";
  color: gray;
  position: absolute;
  margin-left: -1em;
}

h4 {
    margin-top: 3px;
    margin-bottom: 5px;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
