<p>home works!</p>

<img src="avatar">

<a href="https://github.com/yassck02">Github</a>
<a href="https://linkedin.com/in/connor-yass">Linked-In</a>

<div class="skills">
    <h4>Skills</h4>
    <ul>
        <li></li>
    </ul>
</div>

<div class="languages">
    <h4>Languages</h4>
    <ul>
        <li>C++</li>
        <li>Swift</li>
        <li>TypeScript</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>C#</li>
    </ul>
</div>

<div class="software">
    <h4>Software</h4>
    <ul>
        <li>Adobe Illustrator</li>
        <li>Adobe Photoshop</li>
        <li>Autodesk 3Ds Maxr</li>
        <li>Maya</li>
        <li>Word, Excel, Powerpoint</li>
    </ul>
</div>

<div class="frameworks">
    <h4>Frameworks</h4>
    <ul>
        <li>Angular</li>
        <li>Cocoa (UIKit)</li>
    </ul>
</div>
