
<div id="title">
    <div class="row">
        <p class="left">Hi, my name is:</p>
        <h1 class="gradient-background">Connor Yass</h1>
    </div>
    <div class="row">
        <p class="left">and I am a:</p>
        <p class="right">* Still in beta: v0.9.1</p>
        <h2 class="gradient-background clip-text">Software Engineer*</h2>
    </div>
</div>

<p>I’ve programmed in many different industries including mobile game and app development, academic research, and large scale industrial manufacturing - all while studying math and computer science at the University of Wisconsin Whitewater.</p>
<p>When I’m not writing code or studying, I enjoy, hunting, fishing, soccer, exploring, and spending time with my friends and family.</p>

<div class="grid">
    <div>
        <h4>Skills</h4>
        <li>- <em>* </em>iOS application developement</li>
        <li>- Object Oriented Programming</li>
        <li>- Creative Problem Solving</li>
        <li>- Testing and Documenting</li>
    </div>

    <div>
        <h4>Languages</h4>
        <li>- <em>* </em>C++, C#</li>
        <li>- <em>* </em>Swift</li>
        <li>- TypeScript, JavaScript</li>
        <li>- Python</li>
        <li>- HTML, CSS</li>
    </div>

    <div>
        <h4>Software</h4>
        <li>- Adobe <em>* </em>Illustrator, Photoshop</li>
        <li>- Autodesk <em>* </em>3Ds Max, Maya, Inventor</li>
        <li>- Microsoft Word, Excel, Powerpoint</li>
        <li>- <em>* </em>Xcode, MacOS, iOS</li>
    </div>

    <div>
        <h4>Tools</h4>
        <li>- <em>* </em>GIT</li>
        <li>- Node.js</li>
        <li>- SAFe (Agile)</li>
    </div>

    <div>
        <h4>Frameworks</h4>
        <li>- <em>* </em>Angular</li>
        <li>- Cocoa (UIKit)</li>
        <li>- Multipeer Connectivity</li>
    </div>

    <div>
        <h4>Intrests</h4>
        <li>- Wireless comunication</li>
        <li>- Artificial intelligence</li>
        <li>- Cyber Security</li>
    </div>

</div>
