
:root {
    --hue_0: 280;
    --hue_1: 345;
}

::selection {
  background: hsla(var(--hue_1), 100%, 50%, 0.15)
}

html {
    overflow-y:scroll;
}

body {
    padding: 0;
    font: 12px Arial, sans-serif;
    background-color: #f9f9f9;
    height: 100%;
    width: 100%;
    margin: 0;
}

.code {
    font-family: "Courier New", Courier, monospace;
}
