button {
    top: 50%;
    position: fixed;
    cursor: pointer;
}

.main {
    box-shadow: 2px 2px 10px #ccc;
    background-color: white;
    border-radius: 8px;
    width: 75%;
    height: 75%;
    margin: auto;
}
