.main {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
}

a {
    color: gray;
    margin: 10px;
    text-decoration: none;
}

a:hover {
    color: var(--color);
    text-decoration: none;
}

.activeLink {
    color: var(--color);
    text-decoration: underline;
}

button {
    color: var(--color);
    border: none;
    background: #f9f9f9;
    top: 48%;
    position: fixed;
    border-radius: 4px;
    width: 20px;
    height: 35px;
    font-weight: 700;
}

button:hover {
    color: #f9f9f9;
    background: var(--color);
}

.note {
    text-align: center;
    font-size: 10px;
    color: gray;
}
