.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 2px;
    column-gap: 25px
}

hr {
    border: 0;
    background-color: hsl(var(--hue_0), var(--sat_0), var(--brt_0));
    width: 100%;
    height: 1px;
}

a {
    text-decoration: none;
    color: hsl(var(--hue_0), var(--sat_0), var(--brt_0));
}

.info * {
    display: inline-block;
}

a:hover {
    color: hsl(var(--hue_0), var(--sat_0), var(--brt_0));
}

h1 {
    font-variant: small-caps;
    margin: 8px;
}

h3 {
    font-weight: 400;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 0px;
    display: block;
}

p {
    margin: 0;
    display: block;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    margin-top: 3px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

.info * {
    padding-left: 10px;
    padding-right: 10px;
}

.date {
    color: #AAA;
    float: right;
    clear: right;
    margin-top: 3px;
}

.location {
    color: #AAA;
    float: right;
    clear: right;
    margin-top: 3px;
}

ul {
    list-style-type: none;
}

.hr {
    margin: 4px 0 4px 0;
    width: 100%;
    height: 0px;
    border-top: 1px solid hsl(var(--hue_0), var(--sat_0), var(--brt_0));
}

.objective {
    width: 100%;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.education {
    grid-column-start: 1;
    grid-column-end: 5;
}

.course-work {
    grid-column-start: 1;
    grid-column-end: 3;
}

.img {
    display: block;
}

.project-list {
    width: 50%;
    display: inline-block;
}

.experience {
    grid-column-start: 1;
    grid-column-end: 5;
}

.experience-item {
    margin-bottom: 10px;
}

.project-item {
    margin-bottom: 10px;
    margin-right: 15px;
}

.awards {
    grid-column-start: 3;
    grid-column-end: 5;
}

.projects {
    grid-column-start: 1;
    grid-column-end: 5;
}

.keywords * {
    font-size: 1px;
    color: white;
}

.technologies {
    grid-column-start: 1;
    grid-column-end: 5;
}

.col-one {
    width: 25%;
	display: inline-block;
}

.col-two {
    width: 75%;
    display: inline-block;
}

.visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    clip: rect(0 0 0 0);
    overflow: hidden;
  }