
<div class="grid">

    <div class="header">
        <h1>Connor Yass</h1>
        <div class="hr"></div>
        <div class="info">
            <a href="mailto:yassck02@gmail.com">yassck02@gmail.com</a>
            <span> | </span>
            <p>(262) 424-3989</p>
            <span> | </span>
            <a id="portfolio-link" href="https://yassck02.github.io">https://yassck02.github.io</a>
        </div>
    </div>

    <div class="education">
        <h3>Education</h3>
        <div class="hr"></div>
        <p class="date">Expected Dec '19</p>
        <li>University of Wisconsin Whitewater</li>
        <li>Major: <strong>Computer Science</strong> and <strong>Applied Mathematics</strong> double major</li>
        <li>Cumulative GPA: 3.8 / 4.0 - Computer Science GPA: <strong>4.0</strong> / 4.0</li>
    </div>

    <div class="course-work">
        <h3>Courses</h3>
        <div class="hr"></div>
        <ul class="course-list">
            <li>MATH 253-255 Calculus I-III</li>
            <li>MATH 280 Discrete Mathematics</li>
            <li>MATH 355 Matrices and Linear Algebra</li>
            <li>MATH 469 Partial Differential Equations</li>
            <li>MATH 381 Modeling and Simulation</li>
            <li>COMPSCI 222 Intermediate C++</li>
        </ul>
        <ul class="course-list">
            <li>COMPSCI 223 Data Structures</li>
            <li>COMPSCI 271 Assembly Programming</li>
            <li>COMPSCI 412 Computer Organization</li>
            <li>COMPSCI 433 Theory of Algorithms</li>
            <li>COMPSCI 461 Wireless Computing Architectures</li>
            <li>COMPSCI 332 Intro to Artificial Intelligence</li>
        </ul>
    </div>

    <div class="technologies">
        <h3>Skills</h3>
        <div class="hr"></div>
        <ul class="col-one">
            <li><i>Software:</i></li>
            <li><i>Tools + Methodologies:</i></li>
            <li><i>Frameworks + APIs:</i></li>
            <li><i>Languages:</i></li>
            <li><i>Environments:</i></li>
        </ul>
        <ul class="col-two">
            <li>Xcode, Visual Studio Code, Adobe Photoshop / Illustrator, Autodesk Maya / 3Ds Max</li>
            <li>GIT, Scaled Agile (SAFe), Node.js</li>
            <li>Angular, Cocoa / UIKit, Metal, Firebase, Bootstrap, QT, REST</li>
            <li>C++, C#, Swift, Javascript / Typescript, HTML / CSS / SASS, Python</li>
            <li>iOS, MacOS, Windows, Linux</li>
        </ul>
    </div>

    <div class="experience">
        <h3>Work Experience</h3>
        <div class="hr"></div>
        <div class="experience-item">
            <span class="location">Milwaukee, WI</span>
            <p class="date">May '18 - Jan '19</p>
            <p><strong>Software Engineering Co-op</strong>: Rockwell Automation</p>
            <li>- Developed and documented user facing features in C#, Java, and C++</li>
            <li>- Participated in the full development lifecycle using scaled agile methodologies</li>
        </div>

        <div class="experience-item">
            <span class="location">Whitewater, WI</span>
            <p class="date">May '17 - May '18</p>
            <p><strong>Programming Intern</strong>: Interactive Degree Planner LLC</p>
            <li>- Worked on a small team to design and implement complex algorithms in C++</li>
            <li>- Optimized and updated old code to adopt new design requirements</li>
        </div>

        <div class="experience-item">
            <span class="location">Whitewater, WI</span>
            <span class="date">Feb - Sept '16'</span>
            <p><strong>Game Development Intern</strong>: Mobile Mesh Games LLC</p>
            <li>- Developed, tested, and debugged C# code for mobile apps</li>
            <li>- Implemented art assets and UI control logic</li>
        </div>

        <div class="experience-item">
            <p class="date">June '15 - Present</p>
            <p>Self-taught <strong>iOS and OS X App Developer</strong></p>
            <li>- Produced and released multiple mobile apps using the Swift programming language</li>
            <li>- Developed applications to visualize complex mathematical patterns and fractals</li>
        </div>

        <div class="experience-item">
            <span class="location">Whitewater, WI</span>
            <p class="date">Jan '16 - May '18</p>
            <p><strong>3D Printer and Laser Cutter Lab Technician</strong>: Arts Media Center</p>
            <li>- Taught students and professors how to use the equipment</li>
            <li>- Cleaned, maintained, and operated the machinery</li>
        </div>

    </div>

    <div class="projects">
        <h3>Projects</h3>
        <div class="hr"></div>
        <ul>
            <li>3D Printable Study Tool</li>
            <li>- Designed a multi-material model of the human larynx</li>
            <li>Peer to Peer Messaging App</li>
            <li>- Produced and relased a local messaging app for iPhones</li>
        </ul>
    </div>

    <div class="awards">
        <h3>Awards</h3>
        <div class="hr"></div>
        <ul>
            <p class="date">Dec '17</p>
            <li>Putnam exam participant</li>
            <p class="date">Nov '17</p>
            <li>1st place - <strong>UWW Hackathon</strong></li>
            <p class="date">Summer '16 - '17</p>
            <li>Undergraduate <strong>Research Fellowship</strong></li>
            <p class="date">Fall ’15 - Present</p>
            <li>UW-Whitewater <strong>Deans List</strong></li>
        </ul>
    </div>

</div>
