
<div class="grid">
    <div class="header">
        <h1>Connor Yass</h1>
        <div class="hr gradient-background"></div>
        <div class="info">
            <p>yassck02@gmail.com</p>
            <span> | </span>
            <p>(262) 424-3989</p>
            <span> | </span>
            <a id="portfolio-link" class="gradient-background gradient-text" href="https://yassck02.github.io">https://yassck02.github.io</a>
        </div>
    </div>

    <div class="education">
        <h3>Education</h3>
        <div class="hr gradient-background"></div>
        <p class="date">Graduation: May '20</p>
        <li>University of Wisconsin Whitewater</li>
        <li>Majors: <strong>Computer Science</strong> and <strong>Applied Mathematics</strong></li>
        <li>Computer Science GPA: <strong>4.0</strong>  (Cumulative: 3.8)</li>
    </div>

    <div class="technologies">
        <h3>Skills</h3>
        <div class="hr gradient-background"></div>
        <ul class="col-one">
            <li><i>Software:</i></li>
            <li><i>Tools and Methodologies:</i></li>
            <li><i>Frameworks and APIs:</i></li>
            <li><i>Languages:</i></li>
            <li><i>Environments:</i></li>
        </ul>
        <ul class="col-two">
            <li>Xcode, VS Code, Adobe Photoshop / Illustrator, Autodesk Maya / 3Ds Max</li>
            <li>GIT, Scaled Agile (SAFe), Node.js, Bash, Wireshark</li>
            <li>Angular, Cocoa / UIKit, Metal, QT, REST, SpriteKit, ARKit</li>
            <li>C++, Swift, Javascript / Typescript, HTML / CSS / SASS, Python</li>
            <li>iOS, MacOS, Windows, Linux, Unix</li>
        </ul>
    </div>

    <div class="experience">
        <h3>Work Experience</h3>
        <div class="hr gradient-background"></div>

        <div class="experience-item">
            <!-- <img src="../../../assets/images/nasa.png" width=50 height=50> -->
            <p class="date">Sept '19 - Dec '19</p>
            <span class="location">Hampton, VA</span>
            <p><strong>AR / VR Software Developer</strong>: NASA Langley Research Center</p>
            <li>- Designed and implemented an augmented reality applicaion to track unmanned arial vehicles</li>
            <li>- Brainstormed and prototyped multiple different use cases for AR in the areospace indistry</li>
        </div>

        <div class="experience-item">
            <!-- <img src="../../../assets/images/ra.png" width=45 height=45> -->
            <p class="date">May '18 - Jan '19</p>
            <span class="location">Milwaukee, WI</span>
            <p><strong>Software Engineering co-op</strong>: Rockwell Automation</p>
            <li>- Developed, implemented, tested, and documented user facing features in and C++ and Typescript</li>
            <li>- Participated in the full development lifecycle of a large scale project using scaled agile methodologies</li>
        </div>

        <div class="experience-item">
            <!-- <img src="../../../assets/images/uww.jpg" width=40 height=40> -->
            <p class="date">May '17 - May '18</p>
            <span class="location">Whitewater, WI</span>
            <p><strong>Programming Intern</strong>: Interactive Degree Planner LLC</p>
            <li>- Worked on a team to design and implement complex scheduling and optimization algorithms in C++</li>
            <li>- Optimized, documented, and updated old code to adopt new design requirements from stakeholders</li>
        </div>

        <!-- <div class="experience-item">
            <span class="location">Whitewater, WI</span>
            <span class="date">Feb - Sept '16'</span>
            <p><strong>Game Development Intern</strong>: Mobile Mesh Games LLC</p>
            <li>- Developed, tested, and debugged C# code for mobile apps</li>
            <li>- Implemented art assets and UI control logic</li>
        </div> -->

        <div class="experience-item">
            <p class="date">June '15 - Present</p>
            <p><strong>iOS and OS X App Developer</strong></p>
            <li>- Produced and released multiple mobile apps with a combined total of over 15,000 downloads</li>
            <li>- Developed mobile and desktop applications to visualize complex mathematical patterns and fractals</li>
        </div>

        <!-- <div class="experience-item">
            <span class="location">Whitewater, WI</span>
            <p class="date">Jan '16 - May '18</p>
            <p><strong>3D Printer and Laser Cutter Lab Technician</strong>: Arts Media Center</p>
            <li>- Taught students and professors how to use the equipment</li>
            <li>- Cleaned, maintained, and operated the machinery</li>
        </div> -->
    </div>

    <div class="projects">
        <h3>Recent Projects</h3>
        <div class="hr gradient-background"></div>
        <ul class="project-list">
            <div class="project-item">
                <p><strong>Digital Spirograph Tool</strong></p>
                <li>- Developed a document based iOS application that uses Metal to plot and render spirograph designs in real time. Written in native Swift: <a class="gradient-background gradient-text" href="https://github.com/yassck02/spirographer">https://github.com/yassck02/spirographer</a></li>
            </div>
            <div class="project-item">
                <p><strong>Multi-material, 3D Printable Study Tool</strong></p>
                <li>- Led a small cross-discipliary team that designed and produced an assemblable model of the human larynx for use in a classroom setting</li>
            </div>
        </ul>
        <ul class="project-list">
            <div class="project-item">
                <p><strong>Family Feud Simulator</strong></p>
                <li>- Implemented a command line version of the tv game show that utilizes a text based UI and client server architecture. Written in Python: <a class="gradient-background gradient-text" href="https://github.com/yassck02/familyfeud">https://github.com/yassck02/familyfeud</a></li>
            </div>
            <div class="project-item">
                <p><strong>Peer to Peer Messaging Application</strong></p>
                <li>- Designed, developed and released a P2P messaging app on the iOS platform. Responed to bug reports, ran marketing campaigns and managed overall UX design</li>
            </div>
        </ul>
    </div>

    <div class="course-work">
        <h3>Important Courses</h3>
        <div class="hr gradient-background"></div>
        <ul class="course-list">
            <!-- <li>MATH 253-255 Calculus I-III</li>
            <li>MATH 280 Discrete Mathematics</li> -->
            <!-- <li>MATH 355 Matrices and Linear Algebra</li> -->
            <li>Ordinary and Partial Differential Equations</li> <!--MATH 469 -->
            <li>Mathematical Modeling and Simulation</li><!--MATH 381-->
            <!-- <li>COMPSCI 222 Intermediate C++</li> -->
            <!-- <li>COMPSCI 223 Data Structures</li> -->
            <!-- <li>COMPSCI 271 Assembly Programming</li> -->
            <li>Computer Organization and System Programming</li><!--COMPSCI 412 -->
            <li>Theory of Algorithms, Data Structures</li><!--COMPSCI 433 -->
            <li>Wireless Computing Architectures</li><!--COMPSCI 461 -->
            <!-- <li>COMPSCI 332 Intro to Artificial Intelligence</li> -->
        </ul>
    </div>

    <div class="awards">
        <h3>Awards</h3>
        <div class="hr gradient-background"></div>
        <ul>
            <p class="date">Fall ’19</p>
            <li>Active Member of ΠΜΕ (Pi Mu Eplison)</li>
            <p class="date">Fall ’15 - Present</p>
            <li>UW-Whitewater Deans List</li>
            <p class="date">Dec '17</p>
            <li>Putnam Exam Participant</li>
            <p class="date">Nov '17</p>
            <li> 1st place< in the UWW Hackathon</li>
            <p class="date">'16 - '17</p>
            <li>Undergraduate Research Fellow </li>
            
            
        </ul>
    </div>

    <div class="keywords visually-hidden">
        <ul>3D printing</ul>
        <ul>Algorithms</ul>
        <ul>Artificial intelligence</ul>
        <ul>Augmented Reality</ul>
        <ul>Creative Problem Solving</ul>
        <ul>Critical Thinking</ul>
        <ul>Data Structures</ul>
        <ul>Debugging</ul>
        <ul>Dedicated</ul>
        <ul>Documentation</ul>
        <ul>Dynamic</ul>
        <ul>Frameworks</ul>
        <ul>Graphic Design</ul>
        <ul>iOS</ul>
        <ul>iPad</ul>
        <ul>iPhone</ul>
        <ul>JSON</ul>
        <ul>Mac</ul>
        <ul>Machine Learning</ul>
        <ul>Mobile Developement</ul>
        <ul>Prototyping</ul>
        <ul>Rapid</ul>
        <ul>Reliable</ul>
        <ul>Research and Developement</ul>
        <ul>Results Oriented</ul>
        <ul>Software Engineer</ul>
        <ul>Software Engineer</ul>
        <ul>Team Work</ul>
        <ul>Test Automation</ul>
        <ul>UML</ul>
        <ul>Unix shell Scripting</ul>
        <ul>Virtual Reality</ul>
        <ul>XML</ul>
    </div>
</div>