
<button style="left: 10px" (click)="onLeftClicked()"> < </button>
<button style="right: 10px" (click)="onRightClicked()"> > </button>

<div class="main">

    <div class="note">
        <p>Connor Yass</p>
    </div>

    <div class="content">
        <div class="card">
            <nav>
                <a *ngFor="let tab of tabs"
                    routerLink="{{tab.path}}"
                    routerLinkActive="activeLink"
                    (click)="currentTab=tab.index">{{tab.label}}</a>

                    <div class="media-links">
                       <a href="https://github.com/yassck02">
                           <img src="./assets/icons/github.png" width="15px" height="15px">
                       </a>

                       <a href="https://linkedin.com/in/connor-yass">
                           <img src="./assets/icons/linkedin.png"  width="15px" height="15px">
                       </a>

                       <a href="https://www.instagram.com/connor.yass/">
                           <img src="./assets/icons/instagram.png" width="15px" height="15px">
                       </a>
                   </div>
            </nav>
        </div>

        <div class="card">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="note">
        <p>01010100 01101000 01101001 01101110 01101011 00100000 01000100 01101001 01100110 01100110 01100101 01110010 01100101 01101110 01110100</p>
    </div>

</div>
