
#title {
    border-bottom: 1px solid lightgray;
    background: white;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
}

h1 {
    font-size: 50px;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

.condition {
    float: right;
    padding-right: 15px;
}

.grid div {
    border: 1px solid lightgray;
    border-radius: var(--radius);
    padding: 8px;
    margin: 10px;
    max-width: 275px;
    min-width: 200px;
    width: 30%;
}

em {
    color: hsla(var(--hue_1), 100%, 50%);
    font-weight: 700;
}

ul {
    list-style-type: none;
}

img {
    margin-right: 5px;
}

li {
    margin-bottom: 3px;
    list-style-type: none;
}

ul li:before {
  content: "–";
  color: gray;
  position: absolute;
  margin-left: -1em;
}

h4 {
    margin-top: 3px;
    margin-bottom: 5px;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
